.Quote {
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.Quote:last-of-type {
    margin-bottom: 0;
}

.Quote__author {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.QuoteText {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
}

.Quote__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Quote__buttons button {
    padding: 5px 10px;
    border: none;
    background: red;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.Quote__buttons button:hover {
    background: orangered;
}