.Submit {
    width: 800px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
}

.Submit h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.Submit .row {
    margin-bottom: 20px;
}

.Submit .row label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.Submit .row input,.Submit .row select {
    display: block;
    width: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}

.Submit .row textarea {
    width: 100%;
    display: block;
    height: 100px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 10px;
    font-size: 14px;
}

.Submit__save {
    width: 120px;
    height: 35px;
    border: none;
    background: red;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
.Submit__save:hover {
    background: darkred;
}
