header {
    width: 800px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header ul {
    display: flex;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    color: blue;
    font-weight: bold;
    font-size: 16px;
}

header ul li a.active {
    color: red;
}
header ul li a:hover {
    color: violet;
}


header ul li:not(:last-of-type) a {
    border-right: 1px solid #000;
    padding-right: 10px;
}

