.Sidebar {
    border: 1px solid #000;
    padding: 10px;
    width: 150px;
    overflow: hidden;
}

.Sidebar li {
    margin-bottom: 10px;
}

.Sidebar li a {
    color: blue;
    font-weight: bold;
    font-size: 16px;
}

.Sidebar li a.active {
    color: red;
}

.Sidebar li a:hover {
    color: violet;
}