body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

ul, ol {
    list-style: none;
}

button, select {
    cursor: pointer;
}
